/* override table width restrictions */
@media screen and (min-width: 1000px) {
    .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
             this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
    }
  }

  .wy-nav-content {
    max-width: none;
  }

  /* change table rendering */

  /* make tables max-width */
  table.docutils {
    width: 100%;
  }

  /* use automatic width for table columns */
  table.docutils colgroup {
    display: none;
  }

  /* respect newlines */
  table.docutils p {
    white-space: pre-line;
  }

  /* change how citations are rendered */
  table.docutils dl.citation {
    display: flex;
    margin: 0 !important;
  }

  table.docutils dl.citation dt {
    margin: 0 1em 0 0 !important;
    padding: 0 !important;
  }

  table.docutils dl.citation dd {
    margin: 0 !important;
  }
